<div id="ftime-app">
    <h2> 时间是最宝贵的财富</h2>
    <input type="button" class="stop-time" value="stop"/>
    <span class="start-time"></span><br/>
    <label>project</label><input type="text" class="project" valu=""/> <br/>
    <label>note</label><input type="text" name="note" class="note" value="" />
    <div id="today-time-list">
        <table class="hor-minimalist-a">
            <thead>
                <tr><th>time</th><th>project</th><th>description</th>
             </thead>
             <tbody class="time-fragment-list">
             </tbody>
        </table>
    </div>
</div>


